In [3]:
## Task 1
from collections import Counter

def can_build_string(str1, str2):
    count_str1 = Counter(str1)
    count_str2 = Counter(str2)
    
    for char, count in count_str2.items():
        if count_str1[char] < count:
            return False
    return True

str1 = input("string1: ")
str2 = input("string2: ")

if can_build_string(str1, str2):
    print(f"The string '{str2}' can be built from '{str1}'.")
else:
    print(f"The string '{str2}' cannot be built from '{str1}'.")

string1:  100
string2:  0

The string '0' can be built from '100'.

In [12]:
##Tast2
def calculate_power(*args):
    if len(args) == 1:
        return args[0] ** 2
    elif len(args) == 2:
        return args[0] ** args[1]
    elif len(args) > 2:
        sum_of_numbers = sum(args[:-1])
        return sum_of_numbers ** args[-1]  
inputs = input("Enter numbers separated by space: ").split()
inputs = [int(i) for i in inputs]

print(calculate_power(*inputs))

Enter numbers separated by space:  1 0

1

In [19]:
class Employee:
    def __init__(self, employee_id, name, position, salary):
        self.emp_id = employee_id
        self.name = name
        self.position = position
        self.salary = salary

    def display_employee_details(self):
        print(f"Employee ID: {self.Emp_id}")
        print(f"Name: {self.name}")
        print(f"Position: {self.position}")
        print(f"Salary: Rs{self.salary}")


Emp_id = int(input("ID: "))
name = input("Name: ")
position = input("Position: ")
salary = float(input("Salary: Rs"))


employee = Employee(employee_id, name, position, salary)

employee.display_employee_details()

ID:  1
Name:  kjj
Position:  ji
Salary: Rs 500

AttributeError: 'Employee' object has no attribute 'Emp_id'